.container *,
.container {
  letter-spacing: -0.5px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

.content {
  display: flex;
  position: relative;
  font-family: "DM Sans", "Roboto", sans-serif;
  min-height: 100%;
  min-width: 100%;
  background-color: var(--ddash-color-main-background);
}

.content.left {
  flex-direction: row;
}
.content.right {
  flex-direction: row-reverse;
}

.content.top {
  flex-direction: column;
}

.main {
  padding: 2em;
  width: 100%;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .main {
    padding: 6em 1em 0 1em;
  }
}
