.container {
  width: 100%;
}

.head {
  padding: 10px 0.7em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.head h2 {
  font-size: var(--ddash-fontSize-20x);
  color: var(--ddash-color-dark-text);
}

.table {
  width: 100%;
  border-collapse: collapse;
}
